@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --destructive-foreground: 0 0% 100%;
    --secondary-foreground: 180 30% 20%;
    --popover-foreground: 90 30% 15%;
    --primary-foreground: 90 30% 15%;
    --accent-foreground: 45 20% 20%;
    --muted-foreground: 90 30% 20%;
    --card-foreground: 90 30% 15%;
    --destructive: 0 70% 60%;
    --background: 90 100% 70%;
    --foreground: 90 30% 15%;
    --secondary: 180 40% 85%;
    --popover: 90 50% 98%;
    --primary: 90 76% 71%;
    --border: 90 30% 85%;
    --accent: 45 100% 70%;
    --muted: 90 20% 76%;
    --input: 90 30% 47%;
    --card: 90 50% 98%;
    --ring: 90 30% 15%;
    --radius: 0.5rem;
  }

  .dark {
    --destructive-foreground: 0 0% 100%;
    --secondary-foreground: 180 30% 20%;
    --popover-foreground: 90 30% 15%;
    --primary-foreground: 90 30% 15%;
    --accent-foreground: 45 20% 20%;
    --muted-foreground: 90 30% 20%;
    --card-foreground: 90 30% 15%;
    --destructive: 0 70% 60%;
    --background: 90 100% 95%;
    --foreground: 90 30% 15%;
    --secondary: 180 40% 85%;
    --popover: 90 50% 98%;
    --primary: 90 76% 71%;
    --border: 90 30% 85%;
    --accent: 45 100% 70%;
    --muted: 90 20% 76%;
    --input: 90 30% 47%;
    --card: 90 50% 98%;
    --ring: 90 30% 15%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen overflow-x-hidden bg-background font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}
